* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Space Mono", serif;
    background-color: rgb(0, 0, 0);
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 0px 5%;
    align-items: center;
}

header h1 {
    color: rgb(247, 247, 247);
    font-size: 20px;
    margin-right: auto;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    background-color: transparent;
    padding: 0;
    margin: 0;
}

.navbar li {
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 30px;
    display: block;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

.navbar a:hover {
    color: rgb(199, 177, 144)
}

.intro-container {
    color: white;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: center;
}

.profile-image, .presentation {
    height: auto;

    margin: 50px;
    padding: 25px;
    border-radius: 20px;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.profile-image:hover, .presentation:hover {
    transform: /*scale(1.05)*/ translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.profile-image {
    justify-content: center;
    background-color: rgb(0, 0, 0);
}

.profile-image img {
    max-width: 100%;
    max-height: 100%;

    border-radius: 130px;
    border: 15px solid rgb(26, 26, 26);
}

.presentation {
    background-color: rgb(26, 26, 26);
}

.info-container {
    color: white;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: flex-start;
    text-align: justify;
}

.formation, .experience, .skills {
    height: auto;

    margin: 50px;
    padding: 25px;

    background-color: rgb(26, 26, 26);
    border-radius: 20px;

    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.formation:hover, .experience:hover, .skills:hover {
    transform: /*scale(1.05)*/ translateY(-8px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: rgb(26, 26, 26);
    color: white;
    margin-top: 100px;
    padding: 25px 0;
    text-align: center;
    font-size: 17px;
}

.footer-container {
    max-width: 800px;
    margin: auto;
}

.links {
    margin-top: 30px;
}

.links a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

